In [1]:
import numpy as np
from scipy.stats import *
import pandas as pd

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

## ë³€ì´í†µê³„ëŸ‰
- ë°ì´í„°ë“¤ì´ ì–¼ë§ˆë‚˜ í©ì–´ì ¸ ìˆëŠ”ê°€ë¥´ ë‚˜íƒ€ë‚´ëŠ” ê²ƒ(ì‚°í¬ë„)\
- í•˜ë‚˜ì˜ ìˆ˜ì¹˜ë¡œ ë°ì´í„°ê°€ í©ì–´ì§„ ì •ë„ë¥¼ ê³„ì‚°í•´ì„œ í‘œí˜„
- ëŒ€í‘œê°’ê³¼ ë”ë¶ˆì–´ ë°ì´í„°ë¥¼ ë¹„êµí•˜ëŠ” ê²½ìš°ì— ìœ ìš©í•˜ê²Œ ì‚¬ìš©
- ex) í‰ê· ì´ ê°™ì€ Aì§‘ë‹¨ê³¼ Bì§‘ì˜ ì„±ì  : ë‘ ì§‘ë‹¨ì´ ë™ì¼í•œ ì§‘ë‹¨?

![](ì„±ì ë¶„í¬ë¹„êµ.png)

- ì–´ëŠ ëŒ€í•™ì—ì„œ ê°™ì€ ê³¼ëª©ì„ ë‘ êµìˆ˜ê°€ ê°€ë¥´ì¹œë‹¤ê³  í•˜ì.ë‘ êµìˆ˜ ëª¨ë‘ í‰ê·  Cí•™ì ì„ í•™ìƒë“¤ì—ê²Œ ì¤€ë‹¤ë©´ ê·¸ ê³¼ëª©ì„ ë°°ìš°ë ¤ëŠ” í•™ìƒë“¤ì€ ì–´ë–¤ êµìˆ˜ë¥¼ ì„ íƒí•´ë„ ë§ˆì°¬ê°€ì§€ë¼ê³  ìƒê°í•  ê²ƒì´ë‹¤.
- ê·¸ëŸ¬ë‚˜ í•œ êµìˆ˜ëŠ” ëŒ€ë¶€ë¶„ì˜ í•™ìƒë“¤ì´ í‰ë²”í•˜ë‹¤ê³  ìƒê°í•˜ì—¬ Cë§Œ ì£¼ê³  ë‹¤ë¥¸ êµìˆ˜ëŠ” í•™ìƒë“¤ì´ ë°˜ì€ ìš°ìˆ˜í•˜ê³  ë°˜ì€ ê³µë¶€ë¥¼ ì•ˆ í•œë‹¤ê³  ìƒê°í•˜ì—¬ Aë¥¼ ì£¼ê±°ë‚˜ D-ë§Œ ì¤€ë‹¤.
- ê·¸ëŸ¬ë¯€ë¡œ ì´ëŸ¬í•œ í©ì–´ì§ì˜ ì •ë³´ ì—†ì´ í•™ìƒë“¤ì´ í‰ê·  ì„±ì  Cë¼ëŠ” ì‚¬ì‹¤ë§Œ ê°€ì§€ê³  êµìˆ˜ë¥¼ ì„ íƒí•œë‹¤ë©´ í•™ì  ë•Œë¬¸ì— ì–´ë ¤ì›€ì— ì²˜í•  ìˆ˜ë„ ìˆê²Œ ëœë‹¤.

## ë²”ìœ„(range)

- ë°ì´í„°ì˜ ìµœëŒ€ê°’ê³¼ ìµœì†Œê°’ì˜ ì°¨ì´
- ë°ì´í„°ê°€ í¼ì ¸ ìˆëŠ” ì •ë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ê°€ì¥ ê°„ë‹¨í•œ ë°©ë²•
- ë²”ìœ„ê°€ í´ìˆ˜ë¡ ì‚°í¬ê°€ í¬ë‹¤ê³  ë§í•  ìˆ˜ ìˆì§€ë§Œ
- ì¤‘ì•™ê°’ê³¼ ë§ˆì°¬ê°€ì§€ë¡œ ê·¹ë‹¨ì ì¸ ê°’ì— ì˜í–¥ì„ ë°›ìŒ
- ë°ì´í„° ì¤‘ 2ê°œì˜ ì •ë³´(ìµœëŒ€ê°’, ìµœì†Œê°’)ë§Œì„ ì´ìš©í•˜ë¯€ë¡œ ì ì ˆí•œ ì²™ë„ë¡œ ì‚¬ìš©í•˜ê¸° ì–´ë ¤ì›€

**ë²”ìœ„(R)=ìµœëŒ“ê°’ - ìµœì†Ÿê°’**

## ì¤‘ê°„ ë²”ìœ„
- ìµœëŒ€ê°’ê³¼ ìµœì†Œê°’ì˜ í‰ê·

## ì‚¬ë¶„ìœ„ê°„ ë²”ìœ„ (interquartile range: IQR)

- ë°ì´í„°ë¥¼ í¬ê¸°ìˆœì„œë¡œ ë‚˜ì—´í•œ ë‹¤ìŒ, ê°œìˆ˜ë¡œ 4ë“±ë¶„í•  ë•Œ ì²« ë²ˆì§¸ ì‚¬ë¶„ìœ„ìˆ˜(Q1:1ì‚¬ë¶„ìœ„ìˆ˜, 25%ì§€ì )ì™€ ì„¸ ë²ˆì§¸ ì‚¬ë¶„ìœ„ìˆ˜(Q3:3ì‚¬ë¶„ìœ„ìˆ˜, 75%ì§€ì )ì˜ ì°¨ì´

## ì‚¬ë¶„ìœ„ìˆ˜ í¸ì°¨(quartile deviation)
- ë²”ìœ„ì˜ ë¬¸ì œì ì„ ë³´ì™„í•œ ì²™ë„
- ì‚¬ë¶„ìœ„ê°„ ë²”ìœ„ì˜ ê°’ì„ 2ë¡œ ë‚˜ëˆˆ ê°’ìœ¼ë¡œ ì‚¬ë¶„ìœ„ ë²”ìœ„ì˜ í‰ê· ê°’
![](../picture/ì‚¬ë¶„ìœ„ìˆ˜í¸ì°¨.png)

## ë¶„ì‚°(variance)
- ì‚°í¬ë„ì˜ ì²™ë„ë¡œ ê°€ì¥ ë„ë¦¬ ì‚¬ìš©ë˜ëŠ” ë°©ë²•
- ë°ì´í„°ê°€ í¼ì ¸ìˆëŠ” ì •ë™ì˜ ê¸°ì¤€ìœ¼ë¡œ í‰ê· ì„ ì‚¬ìš©

- ê³„ì‚° ë°©ë²•
    - ê° ë°ì´í„°ì™€ í‰ê· ì˜ ì°¨ì´ë¥¼ ì œê³±í•˜ì—¬ í•©í•œ ê°’ì˜ í‰ê· 
    
![](../picture/ë¶„ì‚°ì‹.png)

- ë°ì´í„°ê°€ ëª¨ì§‘ë‹¨ ì „ì²´ì¼ ê²½ìš°ì—ëŠ” ë°ì´í„°ì˜ ê°œìˆ˜(n)ìœ¼ë¡œ ë‚˜ëˆ„ì–´ ì¤Œ
- í‘œë³¸ì¼ ê²½ìš° (n-1)ë¡œ ë‚˜ëˆ„ì–´ ì¤Œ
- í‘œë³¸ì˜ ê²½ìš° nìœ¼ë¡œ ë‚˜ëˆ„ì–´ ì£¼ëŠ” ê²ƒë³´ë‹¤ (n-1)ë¡œ ë‚˜ëˆ„ì–´ ì£¼ëŠ” ê²ƒì´ ë” ì¢‹ì€ ì²™ë„ê°€ ë˜ê¸° ë•Œë¬¸ì¸ë° í‘œë³¸ì˜ í¬ê¸°ê°€ í° ê²½ìš°ì—ëŠ” ë³„ ì°¨ì´ê°€ ì—†ìŒ

-  ë¶„ì‚°ê³„ì‚° : var(data, ddof=0|1) í•¨ìˆ˜ ì‚¬ìš© (ddof ìƒëµí•˜ë©´ 0)

In [5]:
## ddofì¸ìˆ˜ :  (ììœ ë„-ëª¨ìˆ˜ì§‘ë‹¨ëƒ í‘œë³¸ì´ëƒ)ëŠ” ê°’ì„ 1ë¡œ ë‘ê³  ì‚¬ìš©í•œë‹¤ê³  ìƒê°í•˜ë©´ í¸í•¨
## íŠ¹ë³„í•œ ê²½ìš° ì œì™¸í•˜ê³ ëŠ” ëª¨ë‘ sample ë°ì´í„°ì´ë¯€ë¡œ ë¶„ëª¨ë¥¼ n-1ë¡œ ë‘ 
## ì¦‰ , ddofëŠ” 1ë¡œ ë‘”ë‹¤

x=[1,2,3,4,5]

np.var(x, ddof=1) #ë¶„ëª¨ n-1
np.var(x) #ë¶„ëª¨ n
np.array(x).var()
pd.Series(x).var(ddof=0)

#ê°’ì˜ ìŠ¤ì¼€ì¼ì— í¬ê²Œ ì˜í–¥ì„ ë°›ìœ¼ë¯€ë¡œ
#ë³€ìˆ˜ë¥¼ ìŠ¤ì¼€ì¼ë§í•œ í›„ ë¶„ì‚°
#

2.5

2.0

2.0

2.0

## í‘œì¤€í¸ì°¨(starndard deviation)
- ê³„ì‚°ëœ ë¶„ì‚°ì˜ ì œê³±ê·¼ìœ¼ë¡œ ê³„ì‚°
- í‰ê· ì„ ì¤‘ì‹¬ìœ¼ë¡œ ì¼ì •í•œ ê±°ë¦¬ì— í¬í•¨ëœ ë°ì´í„°ì˜ ë¹„ìœ¨ì´ ì–¼ë§ˆì¸ê°€ë¥¼ ê³„ì‚°
- ëª¨ë“  ë°ì´í„°ë¥¼ ê³ ë ¤í•œ ì²™ë„
- íŠ¹ì§•
    - ëª¨ë“  ë°ì´í„°ê°€ ë™ì¼í•œ ê°’ì„ ê°–ëŠ”ë‹¤ë©´ ë¶„ì‚°ê³¼ í‘œì¤€í¸ì°¨ëŠ” 0ìœ¼ë¡œ ê³„ì‚°
    - ëª¨ë“  ë°ì´í„°ì— ë™ì¼í•œ ê°’ì„ ë”í•´ ì£¼ê±°ë‚˜ ë¹¼ë„ ë³€í•˜ì§€ ì•ŠìŒ
    - ëª¨ë“  ë°ì´í„°ì— ë™ì¼í•œ ê°’(C)ì„ ê³±í•˜ë©´ ë¶„ì‚°ì€ $ë¶„ì‚°Ã—C^2$ìœ¼ë¡œ í‘œì¤€í¸ì°¨ëŠ” $í‘œì¤€í¸ì°¨Ã—C$ ë§Œí¼ ì»¤ì§

![](../picture/ë¶„ì‚°í‘œì¤€í¸ì°¨ì˜ˆì‹œ.png)

## í‘œì¤€í¸ì°¨ ê³„ì‚° : std()í•¨ìˆ˜ ì‚¬ìš©
- ë¶„ì‚°ì—ì„œ ì œê³±ì˜ ì˜í–¥ì„ ì—†ì•¤ ì§€í‘œ
- ë¶„ì‚°ê³¼ í‘œì¤€í¸ì°¨ê°€ í¬ë©´ í´ìˆ˜ë¡ ì‚°í¬ê°€ í¬ë‹¤

In [6]:
x=[1,2,3,4,5]

np.std(x,ddof=1)
np.array(x).std(ddof=0)
pd.Series(x).std(ddof=1)

1.5811388300841898

1.4142135623730951

1.5811388300841898

## ë³€ë™ê³„ìˆ˜ (CV : Coefficient of Variable)
- í‘œë³¸ í‘œì¤€ í¸ì°¨ë¥¼ í‘œë³¸ í‰ê· ìœ¼ë¡œ ë‚˜ëˆˆ ê°’ ë˜ëŠ” ê·¸ê°‘ì— 100ì„ ê³±í•œ ê°’
- ìƒëŒ€ í‘œì¤€ì°¨
- ì„œë¡œ ë‹¤ë¥¸ í‰ê· ê³¼ í‘œì¤€í¸ì°¨ë¥¼ ê°–ëŠ” ì—¬ëŸ¬ ë°ì´í„°ì˜  í©ì–´ì§„ ì •ë„ë¥¼ ë¹„êµí•  ë•Œ ì‚¬ìš©
- ë³€ë™ê³„ìˆ˜ ê°’ì´ í¬ë‹¤ëŠ” ê²ƒì€ ë°ì´í„°ê°€ í©ì–´ì§„ ì •ë„ê°€ ìƒëŒ€ì ìœ¼ë¡œ í¬ë‹¤ëŠ” ì˜ë¯¸
- í‘œë³¸ ë³€ë™ê³„ìˆ˜ $ ğ¶ğ‘‰=\frac{S}{\overline{x}}$,  ëª¨ë³€ë™ê³„ìˆ˜  $ğ¶ğ‘‰= \frac{ğœ}{ğœ‡}$
![](../picture/ë³€ë™ê³„ìˆ˜.png)

## ë³€ë™ê³„ìˆ˜ ê³„ì‚° í•¨ìˆ˜ (variation)
- ëª¨ë“  ê³„ìˆ˜ ì–‘ìˆ˜ê°€ ì•„ë‹ˆë©´ ì˜ ì“°ì´ì§€ ì•ŠìŒ
- ììœ ë„ëŠ” 0ìœ¼ë¡œ ì…‹íŒ…ë˜ì–´ ìˆìŒ

## ë³€ë™ê³„ìˆ˜ì˜ í•„ìš”ì„±
- í‘œì¤€ í¸ì°¨ë¥¼ êµ¬í•  ë•Œ ìŠ¤ì¼€ì¼ì— ì˜í–¥ì„ ë°›ì§€ ì•Šê¸° ìœ„í•´ì„œ ë³€ìˆ˜ ìŠ¤ì¼€ì¼ë§ì„ í•œ í›„ í¸ì°¨ë¥¼ êµ¬í•¨
    - ë°ì´í„°ê°€ ëª¨ë‘ ì–‘ìˆ˜ì¸ ê²½ìš° ë³€ë™ê³„ìˆ˜ ì‚¬ìš©

In [7]:
x1 = np.array([1,2,3,4,5])
x2 = x1 *10
x2

array([10, 20, 30, 40, 50])

In [8]:
np.std(x1, ddof=1)
np.std(x2, ddof=1) # í‘œì¤€í¸ì°¨ëŠ” *10ë§Œí¼ ì°¨ì´

1.5811388300841898

15.811388300841896

In [9]:
# ë³€ë™ê³„ìˆ˜ ë™ì¼í•¨
variation(x1)
variation(x2)

0.47140452079103173

0.4714045207910317

In [10]:
# ë³€ë™ê³„ìˆ˜ ìˆ˜ì‹
np.std(x1, ddof=1)/np.mean(x1)
np.std(x2, ddof=1)/np.mean(x2)

0.5270462766947299

0.5270462766947299

## ìŠ¤ì¼€ì¼ë§(í‘œì¤€í™”)
- í‰ê·  0ìœ¼ë¡œ í‘œì¤€í¸ì°¨ 1ì´ ë¨
- ê° ê°’ë“¤ì„ ìƒëŒ€ì ì¸ ê°’ìœ¼ë¡œ ë³€í™”ì‹œí‚¤ëŠ” ê¸°ë²•
- í‰ê· ì´ 95ì  êµ­ì–´, 30ì  ìˆ˜í•™ ì¸ ë°˜ì—ì„œ
    - ê¸¸ë™ì´ê°€ ë°›ì€ ì·¨ë“ì ìˆ˜ 90ì  êµ­ì–´, 80ì  ìˆ˜í•™ì´ë¼ë©´ ê¸¸ë™ì´ëŠ” ì–´ë–¤ ê³¼ëª©ì„ ë” ì˜í•˜ëŠ” ê°€
- í‘œì£¼í™”ëœ ë°ì´í„°ëŠ” ì ìˆ˜ì™€ ê°™ì€ ë‹¨ìœ„ë¥¼ ì‚¬ìš©í•˜ì§€ ì•ŠìŒ

In [11]:
x1
x2

array([1, 2, 3, 4, 5])

array([10, 20, 30, 40, 50])

### standard scaling : í‰ê·  0 í‘œì¤€í¸ì°¨ 1

In [12]:
z1 = (x1 - x1.mean()) / x1.std()
z2 = (x2 - x2.mean()) / x2.std()

z1
z2

array([-1.41421356, -0.70710678,  0.        ,  0.70710678,  1.41421356])

array([-1.41421356, -0.70710678,  0.        ,  0.70710678,  1.41421356])

In [13]:
z1.mean()
z2.mean()
z1.std(ddof=0)

0.0

0.0

0.9999999999999999

### Min/Max ìŠ¤ì¼€ì¼ë§

In [15]:
z1 = (x1 - x1.min()) / (x1.max() - x1.min())
z2 = (x2 - x2.min()) / (x2.max() - x2.min())

print(z1)
print(z2)

[0.   0.25 0.5  0.75 1.  ]
[0.   0.25 0.5  0.75 1.  ]

In [ ]:
## í‘œì¤€í™” ì˜ˆì œ

In [16]:
df = pd.read_csv('../data/ch2_scores_em.csv',
                 index_col='student number')
# dfì˜ ì²˜ìŒ 5í–‰ì„ í‘œì‹œ
df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [17]:
scores = df.loc[1:10]
scores.index=['A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J']
scores.index.name='students'

In [18]:
scores
scores.mean()
scores.std()

          english  mathematics
students
A              42           65
B              69           80
C              56           63
D              41           63
E              57           76
F              48           60
G              65           81
H              49           66
I              65           78
J              58           82

english        55.0
mathematics    71.4
dtype: float64

english        9.775252
mathematics    8.720347
dtype: float64

In [19]:
# np.set_printoptions(precision=20, suppress=True)
# pd.options.display.float_format = '{:.2f}'.format
# import numpy as np
# # numpy float ì¶œë ¥ì˜µì…˜ ë³€ê²½
# np.set_printoptions(precision=3)

import numpy as np
# numpy float ì¶œë ¥ì˜µì…˜ ë³€ê²½
np.set_printoptions(formatter={'float_kind': lambda x: "{0:0.3f}".format(x)})

In [20]:
em_z=(scores['english']- scores['english'].mean())/scores['english'].std()
mt_z=(scores['english']- scores['english'].mean())/scores['english'].std()

em_z
mt_z

students
A   -1.329889
B    1.432188
C    0.102299
D   -1.432188
E    0.204598
F   -0.716094
G    1.022992
H   -0.613795
I    1.022992
J    0.306897
Name: english, dtype: float64

students
A   -1.329889
B    1.432188
C    0.102299
D   -1.432188
E    0.204598
F   -0.716094
G    1.022992
H   -0.613795
I    1.022992
J    0.306897
Name: english, dtype: float64

In [21]:
em_z.mean()
mt_z.mean()
em_z.std()
mt_z.std()

2.7755575615628914e-17

2.7755575615628914e-17

1.0

1.0

## sklearnì„ ì´ìš©í•œ ìŠ¤ì¼€ì¼ë§ - ë¨¸ì‹ ëŸ¬ë‹ì„ ìœ„í•´ ì“°ëŠ” ê²½ìš°ê°€ ëŒ€ë¶€ë¶„
- dfì˜ ê° ì—´ì— ëŒ€í•´ì„œ ìŠ¤ì¼€ì¼ë§í•˜ëŠ”ë° ì í•©í•¨

In [22]:
X = pd.DataFrame({"X1":[1, 2, 3, 4, 5],
    "X2": [10, 20, 30, 40, 50]})

X

   X1  X2
0   1  10
1   2  20
2   3  30
3   4  40
4   5  50

In [24]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() # ìƒì„±ì í•¨ìˆ˜ ì´ìš©í•´ ê°ì²´ ì¸ìŠ¤í„´ìŠ¤ ìƒì„±
Z=scaler.fit_transform(X) #ndarrayë¡œ ê²°ê³¼ ë°˜í™˜
Z
pd.DataFrame(Z)

array([[0.000, 0.000],
       [0.250, 0.250],
       [0.500, 0.500],
       [0.750, 0.750],
       [1.000, 1.000]])

      0     1
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  0.75  0.75
4  1.00  1.00

In [25]:
scores

          english  mathematics
students
A              42           65
B              69           80
C              56           63
D              41           63
E              57           76
F              48           60
G              65           81
H              49           66
I              65           78
J              58           82

## í¸ì°¨ê°’
- ì§‘ë‹¨ì˜ í‰ê· ê°’ì—ì„œ ì–´ëŠ ì •ë„ ë–¨ì–´ì ¸ ìˆëŠ”ê°€ë¥¼ ìˆ˜ì¹˜ë¡œ ë‚˜íƒ€ë‚¸ ê²ƒ.

In [28]:
## ì˜ˆì‹œ
# í¸ì°¨ë¥¼ í‘œì¤€ í¸ì°¨ë¡œ ë‚˜ëˆ  10ë°°ë¥¼ í•œ ë’¤ 50ì„ ë”í•œ ê²ƒì„.
# í‰ê· ì„ 50, í‘œì¤€í¸ì°¨ 10ì´ ë˜ë„ë¡ ì •ê·œí™”í•œ ê°’

In [29]:
z= 50 + 10 * (scores-np.mean(scores))/np.std(scores)
z
z.mean()
z.std()

            english  mathematics
students
A         35.981739    42.263848
B         65.096588    60.395454
C         51.078328    39.846301
D         34.903412    39.846301
E         52.156655    55.560359
F         42.451706    36.219980
G         60.783277    61.604227
H         43.530034    43.472622
I         60.783277    57.977906
J         53.234983    62.813001

english        50.0
mathematics    50.0
dtype: float64

english        10.540926
mathematics    10.540926
dtype: float64

In [30]:
result=pd.concat([scores,z], axis=1)
result.columns=['ì˜ì–´','ìˆ˜í•™','ì˜ì–´í¸ì°»ê°’','ìˆ˜í•™í¸ì°»ê°’']
result[['ì˜ì–´','ì˜ì–´í¸ì°»ê°’','ìˆ˜í•™','ìˆ˜í•™í¸ì°»ê°’']]

          ì˜ì–´      ì˜ì–´í¸ì°»ê°’  ìˆ˜í•™      ìˆ˜í•™í¸ì°»ê°’
students
A         42  35.981739  65  42.263848
B         69  65.096588  80  60.395454
C         56  51.078328  63  39.846301
D         41  34.903412  63  39.846301
E         57  52.156655  76  55.560359
F         48  42.451706  60  36.219980
G         65  60.783277  81  61.604227
H         49  43.530034  66  43.472622
I         65  60.783277  78  57.977906
J         58  53.234983  82  62.813001