## 쌍체 표본 t검정

- x의 변화에 따라 y 값이 결정
- x에 변화를 가했을 때 그 x가 변화되어서 추출된 값을 검정(효과가 있는지)
- A반 학생들이 보충수업 후 본 국어 시험점수를 봤을 때 보충수업의 효과가 있는지


- 가설설정 - 데이터 정규성 검정 - Ttest - 결론

## 선행조건
- 실험전(x)과 실험후(y)의 데이터는 정규분포를 따르지 않았도 됨
- 측정값의 차이는 정규성을 갖고 있어야 함

![](../picture/대응t정리.png)

In [3]:
import pandas as pd
from scipy.stats import *

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [5]:
df = pd.read_csv("../data/다이어트약_효과검증.csv")

In [7]:
df.head()

   다이어트전(kg)  다이어트후(kg)
0      87.41      88.30
1      81.05      76.21
2      60.72      53.34
3      81.02      78.21
4      75.75      76.74

In [8]:
before = df['다이어트전(kg)']
after = df['다이어트후(kg)']

In [9]:
# 정규성  검정 : 두 값의 차이가 정규분포를 따르는지 확인

kstest(after-before,'norm')

# pvalue가 거의 0에 가까운 수치(지수가 - 면 소수 이하로 내려간다)

KstestResult(statistic=0.7424620196514834, pvalue=7.04108433205159e-29)

In [10]:
from scipy.stats import shapiro # 정규성 검정 함수


# 귀무가설 : 데이터는 정규분포이다
# 대립가설 : 데이터는 정규분포가 아니다

shapiro(after-before)

# pvalue가 0.05보다 크므로 귀무가설 채택

ShapiroResult(statistic=0.9724071621894836, pvalue=0.2892048954963684)

## 대응(쌍체)표본  t 검정 함수

- scipy.stats.ttest_rel(a, b, axis=0, nan_policy='propagate', alternative='two-sided')
    - nan_policy {‘propagate’:nan을 반환, ‘raise’:오류발생, ‘omit’:무시} : NaN 처리 방법
    - alternative='two-sided'|'less'|'greater' : 양측검정 or 왼쪽단측 or 오른쪽단측

In [11]:

# 귀무 가설 : 대응 표본 두 집단의 평균은 같다 - 다이어트 약의 효과는 없다
# 대립가설 : 대응 표본 두 집단의 평균은 다르다 - 다이어트 약의 효과가 있다
# pvalue가 0에 가까우므로 귀무가설은 기각
# 통계량은 확실한 양의 효과가 있다 - 다이어트약의 효과가 있다


ttest_rel(before,after)

Ttest_relResult(statistic=9.70596986565785, pvalue=5.370404098342324e-13)

## 개별실습 (마케딩에 따른 판매액 차이 : htest02d.csv)

In [12]:
df = pd.read_csv("../data/htest02d.csv")

In [15]:
df

   before  after
0   20000  40000
1    1000  32000
2   30000  70000
3    4000   3000
4    8000  15000
5    7000  15000
6    2000  10000
7    6000   7000
8   12000  30000
9   15000  16000

In [16]:
df.head()
df.columns

   before  after
0   20000  40000
1    1000  32000
2   30000  70000
3    4000   3000
4    8000  15000

Index(['before', 'after'], dtype='object')

In [17]:
before = df['before']
after = df['after']

before
after

0    20000
1     1000
2    30000
3     4000
4     8000
5     7000
6     2000
7     6000
8    12000
9    15000
Name: before, dtype: int64

0    40000
1    32000
2    70000
3     3000
4    15000
5    15000
6    10000
7     7000
8    30000
9    16000
Name: after, dtype: int64

In [18]:
# 정규성검정 - 두 값의 차이가 정규분포를 따르는지 확인
kstest(after-before, 'norm') # 정규분포를 따름

KstestResult(statistic=0.9, pvalue=1.9999999999999957e-10)

In [19]:
# 귀무가설 : 판매액의 변화가 없다
# pvaluer가 유의수준 이하이므로 귀무가설이 기각됨 판매액의 변화가 있음
# 통계량을 확인했음
# t검정
ttest_rel(before,after)

Ttest_relResult(statistic=-3.063706575002505, pvalue=0.013490533567231943)